<div class="footer-up">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <h2 style="">Offering</h2>
                <ul>
                    <li><a href="product_eng.html">Product Engineering Services</a></li>
                    <li><a href="mad.html">Mobile Application Development</a></li>
                    <li><a href="seo.html">Seo Services</a></li>
                    <li><a href="bpo.html">Business Process Outsourcing</a></li>
                    <li><a href="consulting.html">Consulting</a></li>
                    <li><a href="quality_testing.html">Quality & Testing </a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h2 style="">Expertise</h2>
                <ul>
                    <li><a href="quality_testing.html"> Software Testing Service</a></li>
                    <li><a href="artificial.html">AI Data & Analysis</a></li>
                    <li><a href="bpo.html">Business Process Outsourcing</a></li>
                    
                </ul>
            </div>
            <div class="col-md-2">
                <h2 style="">Products</h2>
                <ul>
                    <li><a href="erp.html"> Enterprise resource planning</a></li>
                    <li><a href="e-learning.html">E-learning Applications</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h2 style="">About Company</h2>
                <ul>
                    <li><a href="our_value.html"> Our Value </a></li>
                    <li><a href="asset.html">Our Asset </a></li>
        <li><a href="about.html">About VenSar </a></li>
        <li><a href="team.html">Our Team </a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2 style="">Contact Us</h2>
            </div>
        </div>
    </div>
  </div>