<div class="latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Our Services</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/images/p10.jpeg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3><a href="product_eng.html"> Product Engineering Services</a></h3>
                            <p>We provide end-to-end product engineering Services & industry-specific expertise to deliver feature-rich products, by focusing on factors like usability, time-to-market,and innovation.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/images/p6.jpeg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3><a href="mad.html"> Mobile Application Development</a></h3>
                            <p>Our application development and maintainance service help build adaptable platforms for the new age digital enterprise through cloud, mobile & software application development.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/images/p5.jpeg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3><a href="seo.html">SEO Services</a></h3>
                            <p> Images, Videos, Text, Audio - AI creats intelligent analytics and solutions out of any form of data. to help automate processes, simplyfy task and improve quality, while saving on cost.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/images/p9.jpeg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3><a href="bpo.html">Business Process Outsourcing</a></h3>
                            <p>Traditional BPO is dead. Yet the need to reinvent business operations is more paramount than ever  In today’s digitally disrupted market, where traditional .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid"src="assets/images/p7.jpeg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3><a href="consulting.html"> Consulting Services </a></h3>
                            <p>Looking for the best technical teams to build that next big product? Vensar enables Businesses with tallent & team building services, From requirment to training, on site or off site.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-4">
                <div class="blog-box">
                    <div class="blog-img">
                        <img class="img-fluid" src="assets/images/p8.jpeg" alt="" />
                    </div>
                    <div class="blog-content">
                        <div class="title-blog">
                            <h3><a href="quality_testing.html"> Quality Engineering & Testing</a></h3>
                            <p>Vensar enables the higest quality, throughly tested products & platforms for your business. Engineered using best practices across DevOps / AGILE and Risk Management.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>