
<div class="contact-box-main">
	<h1 align="center" id="cn">Contact</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2 align="center">Get in Touch with Us</h2>
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Name<input type="text" class="form-control" id="name" name="name"  required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Email<input type="text"  id="email" class="form-control" name="name" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Phone No<input type="text" class="form-control" id="subject" name="name"  required data-error="Please enter your Subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Company Name<input type="text" class="form-control" id="subject" name="name"  required data-error="Please enter your Subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        Message<textarea class="form-control" id="message"  rows="4" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="submit-button text-center">
                                        <button class="btn btn-primary" id="submit" type="submit">Submit</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
				<div class="col-lg-4 col-sm-12">
                    <div class="contact-info-left">
                        
                        
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i> Vensar Technology<br>Baghambari Gaddi,<br> Bharwadaj Puram, <br> Allahabad </p>
                            </li>

                            <li>
                                <p><i class="fas fa-map-marker-alt"></i> Skype :  info  </p>
                            </li>

                            <li>
                                <p><i class="fas fa-map-marker-alt"></i> Corporate Office<br>DLF Ankur Vihar,<br> Delhi NCR </p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+91-9999999999">+91-9999 9999 99</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">sales@infovensartechnology.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-md-12">
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28020.12140591878!2d77.29065130485549!3d28.614317999382386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce4bdc74f4cc1%3A0x97793127c94add6e!2sMayur%20Vihar%2C%20New%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1592282773682!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0 margin:500px;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <app-footer></app-footer>

