<header class="main-header">
    <!-- Start Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
        <div class="container">
            <!-- Start Header Navigation -->
            <div class="logo">
                <a href="/home"><img src="assets/images/p4.jpeg" class="" height="100px" width="300px"></a>
            </div>
            <!-- End Header Navigation -->
  
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">ABOUT</a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/about-us">Our Values</a></li>
                            <li><a routerLink="/about-us">Our Asset</a></li>
                            <li><a routerLink="/about-us">About Vensar </a></li>
                            <li><a routerLink="/about-us">Our Team</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
  
                        <a href="Offering.html" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Offering</a>
                        <ul class="dropdown-menu">
                            <li><a routerLink="/offer">Product Engineering Services</a></li>
                            <li><a routerLink="/offer">Mobile Application Development</a></li>
                            <li><a routerLink="/offer">SEO Services</a></li>
                            <li><a routerLink="/offer">Buisness Process Outsourcing</a></li>
                            <li><a routerLink="/offer">Consulting</a></li>
                            <li><a routerLink="/offer">Ouality & Testing</a></li>
                        </ul>
                    </li>
  
  
  
                    <li class="dropdown">
  
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">EXPERTISE</a>
                        <ul class="dropdown-menu">
                             <li><a routerLink="/expertise">AI Data & Analysis</a></li>
                            <li><a routerLink="/expertise">Buisness Process Outsourcing</a></li>
                            <li><a routerLink="/expertise">Software Testing Service</a></li>
                           
                            
                        </ul>
                    </li>
  
                       
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Products</a>
                        <ul class="dropdown-menu">
                            <li><a >Enterprise resource planning</a></li>
                            <li><a >E-Learning </a></li>
  
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle arrow" data-toggle="dropdown">Career</a>
                        <ul class="dropdown-menu">
                            <li><a >Life@VenSar</a></li>
                            <li><a >Career</a></li>
  
                        </ul>
                    </li>
  
  
  
                    <li class="nav-item"><a class="nav-link" routerLink="/contact-us">Contact Us</a></li>
  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
  
            <!-- Start Atribute Navigation -->
            <div class="attr-nav">
                <ul>
                    <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    
                </ul>
            </div>
            <!-- End Atribute Navigation -->
        </div>
       
    </nav>
    <!-- End Navigation -->
  </header>