
  <!-- Start Footer  -->
    <div class="footer-copyright">
    <div class="container">
        <div class="row">
           <div class="col-lg-4 col-md-4 col-md-4">
              <h3 class="footer-company">@ 2020 Vensar Technology</h3> 
           </div> 
           <div class="col-lg-4 col-md-4 col-md-4">
               <ul>
  
  
  
                   <li><a href="terms.html">Terms of uses</a>
                    <a href="#">!</a>
                  <a href="privacy.html">Privacy Policy</a>
                  <a href="#">!</a>
                   <a href="contact.html">Contact Us</a></li>
               </ul>
           </div>
           <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-top-box">
                        <!-- <h2><a href="#">info@Vensartechnology.com</a></h2> -->
                        <ul>
                            <li><a href="facebook.com"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                        
                            <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>  
        </div>
    </div>
  </div>